.main-content {
  padding-bottom: 3.125rem;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.1875rem;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee;
  text-align: center;
}

ol.bibliography span{
    margin-bottom: 1em !important; /* Use a more specific selector */
}

